<div class="container">
  <h1 class="text-center">Stupid Coaching</h1>

  <form class="text-center" action="/answer">
    <input type="text" name="question" placeholder="Ask away!">
    <input type="submit" value="Ask">
  </form>
</div>
