// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 36px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

.link {
  text-decoration: none;
  color: blue;
}

.question {
  color: grey;
}

.answer {
  color: grey;
  background-color: lightgoldenrodyellow;
  padding: 20px 8px;
}
